html, body {
	margin: 0;
	padding: 0;
}

.nav-bar {
	list-style: none;
	background: grey;
	margin: 0;

}

.nav-bar li {
	display: inline-block;
	margin: 10px;
}

.nav-bar a {
	text-decoration: none;
	color: white;
}
