#logo {
  width: 150px;
}

#dropdownMenu {
  margin-left: 30px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.nav-item {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

#slides {
  background-image: url('./assets/home_banner.jpg');
}

.placeholder {
  height: 400px;
  width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 500%;
    text-align: center;
}

label {
  text-align:center;
}

#jumbotron-wrapper {
  background-color: #9ee1e8;
  padding: 20px 0;
}

.content-wrapper{
  max-width: 1200px;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
}

#keep-img {
  height: 320px;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

#jumbotron-content {
  background-color: white;
  margin: auto;
  padding: 30px;
  max-width: 550px;
  text-align: center;
}

#jumbotron-content > ul {
  text-align: left;
}
